/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

$text: #222
$link: $text
$light-text: #999
$nav-text: #fff
$nav-bg: #18007b
$space: 60px

*
  margin: 0
  padding: 0
  line-height: 1.7em

body
  color: $text
  background: $nav-bg
  font: 16px Helvetica, Arial, sans-serif

=transform($value)
  transform: $value
  -webkit-transform: $value

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

body
  margin: 0

a
  text-decoration: underline
  &:hover
    text-decoration: none

p a
  color: $text

.red
  color: red
.green
  color: #0d0
.refactor
  color: #11f

h1, h2, h3, h4, h5, h6
  color: $link
  font-family: 'Arvo'
  a
    color: $link
    text-decoration: none
    &:hover
      text-decoration: underline

h1
  margin-bottom: $space
  font-size: 24px

h2
  margin-bottom: $space / 2
  font-size: 21px

h3
  margin-bottom: $space / 2
  font-size: 18px

.navigation
  box-sizing: border-box
  float: left
  width: 30%
  text-align: right
  padding: 95px 6% 0 6%
  color: $nav-text
  p
    font-size: 16px
    margin-bottom: 40px
  a
    color: $nav-text

.date
  color: $light-text
  font-size: 14px

.content
  box-sizing: border-box
  float: left
  background: url(/public/bg-body.gif)
  width: 70%
  padding: 95px 6% 0 6%

.more
  margin-bottom: 60px

.post
  margin: ($space / 2) 0 $space
  h2, h3
    margin-top: $space
  ul, ol
    list-style-position: inside
    padding-left: 10px
  blockquote
    background: #e3e3e3
    text-align: center
    font-style: italic
    padding: 10px
    font-size: 1.2em
  p
    margin: 10px 0
  .highlight
    padding: 10px
    border: 1px dashed #ccc
    background: #fff
    font-size: 0.8em

  .center-image
    margin-top: $space
    text-align: center

  p.caption
    font-size: 12px
    text-align: center
    margin-bottom: $space
