<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% if page.title %}
        {{ page.title }} — {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/syntax.css">
    <link rel="stylesheet" href="/public/main.css">
  </head>
  <body>
    <nav>
      <h1><a href="/">Hi! I'm Daniel.</a></h1>

      <p>
        I'm a <strong>web developer</strong> happily married to <strong>Ruby</strong>, although in the past 10 years I've professionally flirted with PHP, Java and Python.
        And the holy trinity of JavaScript, HTML and CSS.
      </p>
      <p>
        Check out my <a href="https://github.com/dncrht/" title="GitHub">GitHub projects</a>,
        my <a href="https://www.linkedin.com/in/dncrht" title="LinkedIn">career</a> in LinkedIn or
        skip to my frequent <a href="https://twitter.com/dncrht" title="Twitter">tweets</a>.
      </p>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
